/* === LightsOutMenuBar === */
.LightsOutMenuBar {
    display: flex;
}

/* === LightsOutNewGameButton === */
.LightsOutNewGameButton {
    width: 198px;
    height: 40px;
    border-width: 0px;
    margin-left: 2px;
    margin-bottom: 5px;
    background-color: #88cccc;
}

.LightsOutNewGameButton:hover {
    background-color: #99dddd;
}

.LightsOutNewGameButton:active {
    background-color: #77bbbb;
}

/* === LightsOutResizeButton === */
.LightsOutResizeButton {
    width: 98px;
    height: 40px;
    border-width: 0px;
    margin-left: 2px;
    margin-bottom: 5px;
    background-color: #dddd80;
}

.LightsOutResizeButton:hover {
    background-color: #eeee90;
}

.LightsOutResizeButton:active {
    background-color: #cccc70;
}

/* === ResizePopup === */
.LightsOutResizePopup {
    transform: scale(0);
    position: absolute;
    
    z-index: 2;

    width: 108px;
    padding: 5px;
    background: #efefdd;

    left: -10px;
}

.LightsOutResizePopupShown {
    transform: scale(1);
}

.LightsOutResizePopupParent {
    position: relative;
}

.LightsOutSizeButton {
    width: 50px;
    border: 0px;
    margin: 2px;
    padding: 5px;
    background-color: #dddd80;
}

.LightsOutSizeButton:hover {
    background-color: #eeee90;
}

.LightsOutSizeButton:active {
    background-color: #cccc70;
}

.LightsOutCloseButton {
    width: 104px;
    border: 0px;
    margin: 2px;
    padding: 5px;
    background-color: #d5d5d5
}

.LightsOutCloseButton:hover {
    background-color: #e5e5e5
}

.LightsOutCloseButton:active {
    background-color: #c5c5c5
}