.new_game_button {
    width: 154px;
    height: 25px;
    border-width: 0px;
    margin: 2px;
    margin-bottom: 5px;
    background-color: #83bed6;
}

.new_game_button:hover {
    background-color: #94cfe7;
}

.new_game_button:active {
    background-color: #72adc5;
}