.cell {
    width: 2rem;
    height: 2rem;
    border: 0;
    border-radius: 6%;
    margin: 1px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.cell_close {
    background-color: #83bed6;
}

.cell_close:hover {
    background-color: #94cfe7;
}

.cell_close:active {
    background-color: #72adc5;
}

.cell_open {
    background-color: #d3d3d3;
}